.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  min-width: 600px;
  border-radius: 5px;
  background-color: rgba(237, 239, 242, 1);
}

.loading {
  position: relative;
  left: 250px;
  padding: 20px;
}
